<!DOCTYPE html>
<html lang="en">
<head>
    <script
			  src="https://code.jquery.com/jquery-3.7.0.min.js"
			  integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g="
			  crossorigin="anonymous">
    </script>
    <script src="{{ url_for('static', filename='/jquery/myjquery.js') }}"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="This site generates images from text prompts">
    <meta name="author" content="Seba Ndandala">

    <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles1.css') }}">


    <title>VisualNdandax</title>
</head>
<body>
    <div class="container">
        <h1 class="title1">VisualNdandax</h1>
        <div class="video-container">
            <video autoplay loop muted>
                <source src="static/videos/background8.mp4" type="video/mp4">
            </video>
            <div class="intro">
                <p>If only you could see what I have seen with your eyes</p>
                <p>Welcome to VisualNdandax, 💥🔥</p>
                <p>In here you can imagine anything and bring it to life with your imagination</p>
            </div>
        </div>
    <div class="input-container">

        <!-- <label for="text-prompt">Enter Text Prompt:</label> -->
        <div>
            <!-- <input type="text" id="text-prompt" class="custom-input" placeholder="Enter your text prompt"> -->
            <textarea id="text-prompt" class="custom-input" placeholder="Enter your text prompt"></textarea>
        </div>
        <div>
        <button id="generate-button">Generate Image</button>
        </div>
    </div>

    <div id="image-container"></div>
    </div>

    <script src="{{ url_for('static', filename='main.js') }}"></script>
    <footer>Enjoy your time with VisualNdandax</footer>
    
</body>
<footer>Enjoy your time with VisualNdandax</footer>
</html>
