<!DOCTYPE html>
<html lang="en">
<head>
    <script
			  src="https://code.jquery.com/jquery-3.7.0.min.js"
			  integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g="
			  crossorigin="anonymous">
    </script>
    <script src="{{ url_for('static', filename='/jquery/myjquery.js') }}"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="This site generates images from text prompts">
    <meta name="author" content="Seba Ndandala">

    <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles1.css') }}">


    <title>VisualNdandax</title>
</head>
<body>
    <h1>VisualNdandax</h1>

    <div>
        <!-- <label for="text-prompt">Enter Text Prompt:</label> -->
        <input type="text" id="text-prompt" placeholder="Enter your text prompt">
        <button id="generate-button">Generate Image</button>
    </div>

    <div id="image-container"></div>

    <script src="{{ url_for('static', filename='main.js') }}"></script>
</body>
</html>