
  .custom-input {
    width: fit-content(25em);
    font-style: normal;
    padding: 10px;
    font-size: 16px;
    border: 0px solid #ccc;
    transition: border-color 0.2s ease-in-out;
    resize: vertical;
    height: auto;
    outline: 4px ridge rgba(22, 40, 209, 0.6);
    border-radius: 1rem;
    background-color:whitesmoke;
    max-height: 50px;
    
}

.custom-input:focus {
    border-color: #007bff;
}

body {
    margin: auto;
    padding: auto;
    font-family: Arial, sans-serif;
    text-align: center;
    align-items: center;
    justify-content: center;
}

/*.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
}*/

.title1 {
    font-family: Roboto, sans-serif;
    margin-bottom: 20px;
}

/*.intro {
    margin-bottom: 20px;
}

.input-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}*/

#generate-button {
    background-color: #2ecc71;
    color: rgb(82, 17, 17);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 18px;
    outline: 2px ridge rgba(29, 18, 184, 0.6);
}

#generate-button:hover {
    background-color: #0cee57;
}

footer {
    background-color: #3a1b83;
    height: 50px;
    width: 100%;
    text-align: center;
    bottom: 0;
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
    line-height: 60px;
    border-top: 1px solid #cccccc;
}
/*.footer {
    
    text-align: center;
    padding: 10px;
    background-color: #093266;
    position: sticky; 
    bottom: 0; 
    width: 100%;
}
*/

@media (max-width: 768px) {
    #image-container img {
        max-width: 100%;
        height: auto;
    }
}

.introx video {
    width: auto;
    height: auto;
    object-fit: inherit;
  }

  .video-container {
    position: relative;
    overflow: hidden;
    width: auto;
    height: auto; /* Adjust as needed */
    display: flex;
    align-items: center;
    justify-content: center;
}

.video-container video {
    position: absolute;
    /*top: 0;
    left: 0;*/
    width: auto;
    height: auto;
    object-fit: cover;
    z-index: -1;
}

.intro {
    position: relative;
    z-index: 1;
    color: white;
    font-size: 22px;
    font-style: italic;
    text-align: center;
    padding: 20px;
    
}

.video2 {
    position: relative;
    overflow: hidden;
    width: auto;
    /* Adjust as needed */
    display: flex;
    align-items: center;
    justify-content: center; 
    resize: vertical;
}
 
.video2 video {
    position: absolute;
    top: 0;
    bottom: auto;
    width: auto;
    height: auto;
    object-fit: cover;
    z-index: -1;
}


.continuation {
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    text-align: center;
    padding: 20px;
    position: relative;
}